body, html {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	font-family: 'Roboto Slab', 'Courier New', 'Courier', sans-serif;
	font-size:24px;
	line-height:1.7;
	background:#f9f9f9;
	color:#444;
	font-weight:300;
}

#container {
	width:80%;
	max-width:800px;
	margin:0 auto;
	padding: 2em 0;
}

h1 {
	font-size:1.5em;
	line-height:1.2;
	margin-bottom:1em;
	font-weight:700;
}
h2 {
	font-size:1em;
	margin: 0;
	font-weight:700;
}
#tldr h2 {
	display:inline-block;
}
a {
	font-size:1em;
	text-decoration: none;
	border-bottom:1px solid #ccc;
	color:#444;
	transition:background 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;
	background:transparent;
	padding:0;
}
a:hover {
	background:#ff0;
	color:#000;
	border-bottom:1px solid #000;
}
p {
	margin-bottom:1.2em;
	letter-spacing: 0.5px;
	word-spacing:1px;
}

strong {
	font-weight: 300;
	font-style: italic;
	margin: 0 0.05em 0 -0.05em;
	padding: 0 0.03em 0 0.03em;
}
#content {
	padding: 1em 0;
}
#tldr {
	border-top:1px solid #e9e9e9;
	padding: 1em 0;
}
ul, li {
	margin-left:0;
	padding-left:0;
}
ul {
	list-style-type: hiragana;
}
li {
	padding-bottom:0.5em;
}
@media only screen and (max-width:640px) {
	body {
		font-size:20px;
		line-height:1.5;
	}
	p {
		letter-spacing: 0.2px;
		word-spacing: 0.5px;
	}
	ul {
		list-style-type:none;
	}
}