@import url('https://rsms.me/inter/inter.css');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  overflow: auto;
  overflow-x: hidden;
  font-feature-settings: 'case' on, 'cpsp' on, 'ss01' on, 'ss04' on;
}

.logo-last9 img, img.lago-image {
  height: 40px;
  width: 98px;
}

.points-titles {
  top: calc(50% - (312px / 2));
}

.blog-posts.row > div {
  margin-right: 24px;
  width: calc((100% - 48px) / 3);
}

.blog-posts.row > div:nth-child(3n) {
  margin-right: 0;
}

.blog-subscribe-field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.blog-subscribe-field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.blog-subscribe-field::-ms-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.blog-subscribe-field:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.blog-subscribe-field:focus, .blog-subscribe-field:active {
  border-bottom: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);;
}

.post-meta-text:after {
  content: " •";
}

.post-meta-text:last-child:after {
  content: none;
}

.post-single .post-title {
  text-align: center;
}

.post-single-para .post-single-para {
  margin-bottom: 0;
}

.post-single-para p {
  margin-bottom: 24px;
}

.post-single-para figure {
  margin-bottom: 40px;
}

.post-single-para figure img {
  height: auto;
}

.post-single-para blockquote {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 32px;
  border-left-width: 8px;
  border-left-color: #26d7a0;
  background-color: #00bf84;
  font-size: 20px;
  line-height: 32px;
}

.post-single-para h1 {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #273747;
  font-size: 56px;
  line-height: 64px;
}

.post-single-para h2 {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #273747;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}

.post-single-para h3 {
  margin-top: 16px;
  margin-bottom: 8px;
  color: #475563;
}

.post-single-para h4 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #273747;
  font-size: 20px;
  line-height: 28px;
}

.post-single-para h5 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #273747;
}

.post-single-para h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #273747;
  line-height: 16px;
  text-transform: uppercase;
}

.privacy-policy ol {
  padding-left: 0;
}
.privacy-policy li {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 48px;
}
.privacy-policy ol li ol, .privacy-policy ol li ul {
  margin-top: 16px;
  padding-left: 0;
}
.privacy-policy ol li ol li, .privacy-policy ol li ul li {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 8px;
}

.privacy-policy ol li p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 8px;
  margin-top: 16px;
}

/* SLO Computer */
.hero-para {
  text-align: center;
  max-width: 60%;
  margin: 0 auto 1em;
}
.hero-button-large {
  font-size: 24px;
  padding: 1em 1.5em;
  margin-top: .5em;
}
.slo-hero-container {
  padding-top: 3em;
  padding-bottom: 0;
}
.slo-hero-image {
  overflow: hidden;
  height: 34vw;
}
.slo-hero-image img {
  width: 100%;
}
.slo-intro {
  margin-top: 8em;
  padding: 0 8em 0 0;
}
.slo-intro-image {
  position: relative;
  left: -10%;
  overflow: hidden;
  width: 80%;
  height: 20em;
}
.slo-intro-image img {
  position: absolute;
  top: -50%;
}
.content.condensed {
  padding-right: 6em;
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
* + .content.condensed {
  padding-right: 0;
  padding-left: 6em;
}
.content.condensed .home-section-title {
  width: 100%;
}
.slo .section2 .image img {
  width: 100%;
}
.slo .section2, .slo .section3 {
  padding-bottom: 6em;
  padding-top: 6em;
}
.slo .section2 {
  padding-top: 0;
}
.slo .section3 {
  background-color: #172330;
}
.slo .section3 .mini-title {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 2em;
}
.tiny-title {
  padding-top: 1em;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
}
.tiny-title span {
  text-transform: none;
}
.slo .section3 .hero-buttons {
  margin-top: 3em;
}

/* Media Queries */
@media screen and (max-width: 1113px) {
 .slo .hero-heading {
   font-size: 64px;
   line-height: 72px;
 }
 .slo-intro-image {
   width: 100%;
   height: 15em;
 }
 .content.condensed {
   padding-right: 3em;
 }
 * + .content.condensed {
   padding-right: 0;
   padding-left: 3em;
 }
 .hero-button-large {
   font-size: 16px;
 }
}

@media screen and (max-width: 991px) {
  .blog-posts.row > div {
    margin-right: 24px;
    width: calc((100% - 24px) / 2);
  }

  .blog-posts.row > div:nth-child(3) {
    margin-right: 24px;
  }

  .blog-posts.row > div:nth-child(even) {
    margin-right: 0;
  }
}

@media screen and (max-width: 640px) {
  .slo-hero-container {
    padding-top: 1em;
  }
  .slo .hero-heading {
    font-size: 32px;
    line-height: 40px;
    margin-top: 0;
  }
  .slo .hero-para {
    max-width: 100%;
  }
  .slo-hero-image {
    height:inherit;
  }
  .slo-hero-image img {
    width: 150vw;
    max-width: initial;
    margin-left: -20%;
  }
  .slo-intro {
    margin-top: 4em;
    margin-bottom: 0;
    padding: 0;
  }
  .slo-intro .paragraph {
    text-align: center;
    padding: .5em 2em;
  }
  .slo-intro-image {
    position: relative;
    left: 0;
    top: -30%;
    overflow: hidden;
    width: 100%;
    height: 15em;
  }
  .slo-intro-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130vw;
    transform: translate(-50%, -50%);
    max-width: initial;
  }
  .slo .section2, .slo .section3 {
    padding-bottom: 2em;
    padding-top: 2em;
  }
  .slo .content {
    padding-bottom: 0;
  }
  .content.condensed {
    padding-right: 0;
  }
  * + .content.condensed {
    padding-right: 0;
    padding-left: 0;
  }
  .slo .section2 .image.data-source-image {
    position: relative;
    height: 60vw;
  }
  .slo .section2 .image.data-source-image img {
    max-width: none;
    width: calc(100vw - 30px - 3%);
    position: absolute;
    left: calc(-1% - 30px);
  }
  .slo .home-section-title {
    margin-bottom: .5em;
    margin-top: .5em;
    line-height: 1.1;
  }
  .slo .section3 {
    text-align: center;
  }
  .slo .section3 .paragraph {
    font-size: 1.5em;
    line-height: 1.2;
    padding-top: 1em;
  }
  .slo .section3 .img-fluid {
    max-width: 75%;
    margin: 0 auto;
  }
  .tiny-title {
    font-size: 12px;
    letter-spacing: 0.05em;
    margin: 2em auto 8em;
  }
  .slo .section3 .hero-buttons {
    margin: .5em auto 3em;
  }
}

@media screen and (max-width: 479px) {
  .blog-posts.row > div, .blog-posts.row > div:nth-child(3) {
    margin-right: 0;
    width: 100%;
  }
}

/* ADDED BY GHAAS - 16-11-2021 */
      body.slo .btn:hover{
        color: inherit;
      }

    .no-background{
      background :#273747;
    }
    .fl-list-col-2{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin:0 10px;
    }

    .fl-list-col-2_item{
      display: block;
      width: calc(100% / 2);
    }
    .fl-list-col-2_item.image{
      text-align: center;
    }
    .fl-list-col-2_item.image img{
      width: 500px;
    }
    body.slo hr{
      background: #fff;
      width: 300px;
      height: 1px;
    }
    .my-md{
      margin: 5rem auto;
    }
    .m-md{
      margin: 5rem;
    }

    .small{
      width: 200px;
    }


  /*Small devices landscape phones, less than 768px*/
  @media (max-width: 767.98px) {
    .my-md{
      margin: 3rem auto;
    }
    .display-3{
      font-size: 3rem;
    }
    .display-4{
      font-size: 2.5rem;
    }

    .fl-list-col-2_item{
      width: 100%;
    }
    .fl-list-col-2_item.content{
      order: 2;
    }
    .fl-list-col-2_item.image{
      text-align: center;
      order: 1;
      margin-bottom: 1rem;
    }
    .fl-list-col-2_item.image img{
      width: 100%;
    }
    .m-md{
      margin: 1rem;
    }

  }
